<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label width-6 query-keyword">Format as</label>
      <div class="gf-form-select-wrapper">
        <select
          class="gf-form-input gf-size-auto"
          ng-model="ctrl.target.type"
          ng-options="f.value as f.text for f in ctrl.types"
          ng-change="ctrl.onChangeInternal()"
        >
        </select>
      </div>
    </div>
  </div>
  
  <div class="gf-form-inline">
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.target" spellcheck="false" ng-blur="ctrl.onChangeInternal()" />
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-5 query-keyword">Class</label>
      <div class="gf-form-select-wrapper gf-form-select-wrapper--has-help-icon">
          <select
            class="gf-form-input gf-size-auto"
            ng-model="ctrl.target.mxClass"
            ng-options="f.value as f.text for f in ctrl.mxClass"
            ng-change="ctrl.onChangeInternal()"
          >
            <option value="">select class</option>
          </select>
          <info-popover mode="right-absolute">
            Specify class to select attributes
          </info-popover>
      </div>
      <!--gf-form-dropdown model="ctrl.target.class"
        allow-custom="true"
        lookup-text="true"
        get-options="ctrl.getOptions($query)"
        on-change="ctrl.onChangeInternal()">
      </gf-form-dropdown-->
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-5 query-keyword">Attributes</label>
      <div class="gf-form-select-wrapper gf-form-select-wrapper--has-help-icon">
        <!--select
            class="gf-form-input gf-size-auto"
            ng-model="ctrl.target.mxAttribute"
            ng-options="f.value as f.text for f in ctrl.mxAttribute"
            ng-change="ctrl.onChangeInternal()"
            multiple
            style="height:200px;overflow:auto;"
          >
          <option value="">select attribute</option>
        </select-->
        <bootstrap-tagsinput ng-model="ctrl.target.mxAttribute" tagclass="label label-tag" placeholder="add attribute">
        </bootstrap-tagsinput>
        <info-popover mode="right-absolute">
          Specify attributes to generate the Key
          <ul>
            <li ng-repeat="f in ctrl.mxAttribute">{{f.value}}</li>
          </ul>
        </info-popover>
      </div>
      <!--gf-form-dropdown model="ctrl.target.attribute"
        allow-custom="true"
        lookup-text="true"
        get-options="ctrl.getOptions($query)"
        on-change="ctrl.onChangeInternal()">
      </gf-form-dropdown-->
    </div>

    <div class="gf-form">
        <label class="gf-form-label width-5 query-keyword">Time</label>
        <div class="gf-form-select-wrapper gf-form-select-wrapper--has-help-icon">
          <select
              class="gf-form-input gf-size-auto"
              ng-model="ctrl.target.mxTime"
              ng-options="f.value as f.text for f in ctrl.mxAttribute"
              ng-change="ctrl.onChangeInternal()"
            >
            <option value="">select time</option>
          </select>
          <info-popover mode="right-absolute">
            Specify time as the xAxis
          </info-popover>
        </div>
        <!--gf-form-dropdown model="ctrl.target.mxValue"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.mxClass[0].attribute"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown-->
    </div>

    <div class="gf-form">
        <label class="gf-form-label width-5 query-keyword">Value</label>
        <div class="gf-form-select-wrapper gf-form-select-wrapper--has-help-icon">
          <select
              class="gf-form-input gf-size-auto"
              ng-model="ctrl.target.mxValue"
              ng-options="f.value as f.text for f in ctrl.mxAttribute"
              ng-change="ctrl.onChangeInternal()"
            >
            <option value="">select value</option>
            </select>
            <info-popover mode="right-absolute">
              Specify value as the yAxis
            </info-popover>
        </div>
        <!--gf-form-dropdown model="ctrl.target.mxValue"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.mxClass[0].attribute"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown-->
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
        <label class="gf-form-label gf-form-label--grow query-keyword" ng-click="ctrl.showMxWhere = !ctrl.showMxWhere">Where
          <i class="fa fa-caret-down" ng-show="ctrl.showMxWhere"></i>
          <i class="fa fa-caret-right" ng-hide="ctrl.showMxWhere"></i>
        </label>
        <info-popover mode="right-absolute">
          Specify where condition,and support for grafana's template variables (Eg: host in ('$host') and param in ('$param'))
        </info-popover>
      </div>
  </div>
  <div class="gf-form-inline" ng-show="ctrl.showMxWhere">
        <div class="gf-form gf-form--grow">
          <code-editor content="ctrl.target.mxWhere" data-mode="text" on-change="ctrl.onChangeInternal()" data-max-lines=30>
          </code-editor>
        </div>
  </div>

    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <label class="gf-form-label width-5 query-keyword">Metric</label>
        <gf-form-dropdown model="ctrl.target.target"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getOptions($query)"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown>
      </div>
    </div>

  <div class="gf-form gf-form--grow right">
      <label class="gf-form-label gf-form-label--grow query-keyword" ng-click="ctrl.showJSON = !ctrl.showJSON">Additional JSON Data
        <i class="fa fa-caret-down" ng-show="ctrl.showJSON"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showJSON"></i>
      </label>
    </div>
  </div>

  <div class="gf-form-inline" ng-show="ctrl.showJSON">
    <div class="gf-form gf-form--grow">
      <code-editor content="ctrl.target.data" data-mode="json" on-change="ctrl.onChangeInternal()" data-max-lines=30>
      </code-editor>
    </div>
  </div>
</query-editor-row>
